<div class="container">
  <div class="row my-2 text-center">
    <div class='card-body text-body'>
      <h1><strong>UnrealWorld</strong>  !!</h1>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="card-body text-body">
      <p>UnrealWorldはゲーム内での楽しい風景や綺麗な背景を</p>
      <p>共有できるサイトです。</p>
      <p>家で暇してるも興味をもってもらえたらいいなと思います。</p>
      <p>ぜひ興味をもったら一緒に遊びましょう！</p>
    </div>
  </div>
</div>