<div class="container">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th></th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%#= link_to admin_user_path(user.id) do %>
          <tr>
            <td><%= link_to (image_tag user.get_image(100, 100)), admin_user_path(user.id) %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
          </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>
</div>